<!DOCTYPE html>
<html>
<head>
  <title>mar-10</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="apple-touch-icon" href="/images/bmar_icon.png"/>

  <script src="assets/javascripts/bootstrap-collapse.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>

  </style>
</head>
<body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <a type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <p class="brand">mar-10</p>

          <div class="nav-collapse">
            <ul class="nav pull-right">
              <li class="active"><%= link_to "About" %></li>
              <li><%= link_to "Resume" %></li>
              <li><%= link_to "Blog" %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  <div class="container">
    <%= yield %>
  </div>  

</body>
</html>
